$white: #ffffff;
$primary: #e4bcb4;
$secondary: #deded4;
$tertiary: #ddddd3;
$gray: #E7E7E7;
$gray2: #D5D6D7;
$dark: #2c2c2c;
$black: #2c2c2c;
$black2: #1e1a17;
// $black2: #110E0D;

$mainFont: 'SuisseBPIntl', Helvetica, Arial, sans-serif;
$mainFont2: 'SuisseWorks', Georgia, serif;
$mainFontColor: $dark;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;

$trans1: cubic-bezier(0.85, 0, 0.15, 1);
$trans2: cubic-bezier(0, 0.55, 0.45, 1);

$headerduration: 1.5s;
$contentduration: 1s;

$delay1: 0.6s;
$delay2: 0.8s;
$delay3: 1s;
$delay4: 1.2s;

$bigheading1: 4.8vw;
$bigheading2: 3.6vw;
